body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/bg.jpg');

    background-size: cover;
    background-position: center;
    color: #000; /* Text color on the background */
}

header, section, footer {
    background-color: #fff;
    color: #000;
}
.header-content, .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

header h1, header p {
    margin: 0;
}

section h2 {
    color: #00bcd4; /* Accent color for section headings */
}

ul {
    list-style-type: none;
    padding: 0;
}

.project-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

section.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    text-align: center;
    padding: 1em;
}

.tab-bar{
    padding: 2em;   
    margin:10em;
    background-color: #444;
    overflow: hidden;
    position: relative;

}

.tab-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.tab-bar a:hover {
    background-color: #ddd;
    color: black;
}

.tab-bar a.active {
    background-color: #fffbfb;
    color: rgb(190, 212, 49);
}

#content-container {
    padding: 20px;
}
