/* Shared styling for all pages */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333; /* Darker text color for better readability */
    margin-bottom: 60px; /* Adjust this value based on the footer's height */
}

header, section, footer {
    background-color: #fff;
    color: #333;
    padding: 2em;
    border-radius: 10px; /* Add rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.header-content, .section-content {
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Increase header font size for emphasis */
}

header p {
    margin: 0;
    font-style: italic; /* Add italic style to the header paragraph */
}

section h2 {
    color: #00bcd4;
    font-size: 1.8em; /* Increase section heading font size */
}

ul {
    list-style-type: none;
    padding: 0;
}

.project-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

section.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tab-bar {
    text-align: center;
    padding: 2em;
    margin: 2em 0;
    background-color: #444;
    overflow: hidden;
    border-radius: 10px; /* Add rounded corners to the tab-bar */
}

.tab-bar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px; /* Add rounded corners to the tab links */
}

.tab-bar a:hover {
    background-color: #ddd;
    color: black;
}

.tab-bar a.active {
    background-color: #fffbfb;
    color: rgb(190, 212, 49);
}

#content-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content-container h2 a {
    color: #333; /* Change this color to your desired color */
    text-decoration: none; /* Remove underline from the links */
}

#content-container h2 a:hover {
    color: #00bcd4; /* Change this color to your desired hover color */
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444;
    color: white;
}
