body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/bg.jpg');

    background-size: cover;
    background-position: center;
    color: #fff; /* Text color on the background */
}

header, section, footer {
    background-color: #fff(253, 253, 253, 0.7); /* Semi-transparent black background */
}

.header-content, .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

header h1, header p {
    margin: 0;
}

section h2 {
    color: #00bcd4; /* Accent color for section headings */
}

ul {
    list-style-type: none;
    padding: 0;
}

.project-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

section.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    text-align: center;
    padding: 1em;
}